body {
  text-align: center;
}

ul {
  list-style: none;
}

#logo:hover{
  cursor: pointer;
}

#pokemon-list {
  display: inline-flex;
  flex-wrap: wrap;
}

.pokebutt {
  margin: 10px;
}

.gens {
  margin: 20px;
  width: 100px;
}

#genOne {
background-color: navy;
color: white;
}

#genSeven {
  border:  1px solid black;
  background-color: orange;
}

.generations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .generations {
    flex-direction: column;
  }
  .flex{
    display: inline-flex;
  }
}
